.profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #50CAFF;
}

.profile-photo {
    margin-right: 7px;
    padding: 1px 1px 1px 1px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.profile-photo img {
    border-radius: 50%;
    vertical-align: bottom;
}

.profile-icons {
    display: flex;
    align-items: center;
}

.profile-icons img:not(:last-child) {
    padding-right: 20px;
}

.profile-icons__select {
    margin-right: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: white;
    text-align: center;
}

.profile-icons__select img {
    padding-bottom: 2px;
}

.my-profile {
    font-size: 28px;
    margin-left: 40px;
    color: white;
}
